/*===  GLOBAL ===*/
/*body{min-width: 320px;font-synthesis: none;-moz-font-feature-settings: 'kern';-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;direction: ltr;text-align: left;}*/

/*===  FONTS VARIABLES ===*/
@font-face {font-family: 'light'; src: url("https://static.greenweez.com/img/font/poppins/woff/Poppins-Light.woff"); src: local("@"), url("https://static.greenweez.com/img/font/poppins/woff/Poppins-Light.woff") format('woff');}
@font-face {font-family: 'regular'; src: url("https://static.greenweez.com/img/font/poppins/woff/Poppins-Regular.woff"); src: local("@"), url("https://static.greenweez.com/img/font/poppins/woff/Poppins-Regular.woff") format('woff');}
@font-face {font-family: 'medium'; src: url("https://static.greenweez.com/img/font/poppins/woff/Poppins-Medium.woff"); src: local("@"), url("https://static.greenweez.com/img/font/poppins/woff/Poppins-Medium.woff") format('woff');}
@font-face {font-family: 'sb'; src: url("https://static.greenweez.com/img/font/poppins/woff/Poppins-SemiBold.woff"); src: local("@"), url("https://static.greenweez.com/img/font/poppins/woff/Poppins-SemiBold.woff") format('woff');}

.grayscale {-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -o-filter: grayscale(100%); -ms-filter: grayscale(100%); filter: grayscale(100%);}

.font-size-11{font-size: var(--font-size-11); line-height: 1.067rem;}
.font-size-12{font-size: var(--font-size-12); line-height: 1.1rem;}
.font-size-13{font-size: var(--font-size-13);}
.font-size-14{font-size: var(--font-size-14); line-height: 1.4rem;}
.font-size-15{font-size: var(--font-size-15) !important;}
.font-size-16{font-size: var(--font-size-16); line-height: 1.2rem;}
.font-size-17{font-size: var(--font-size-17); line-height: 1.333rem;}
.font-size-20{font-size: var(--font-size-20); line-height: 1.8rem;}
.font-size-25{font-size: var(--font-size-25); line-height: 1.8rem;}
.font-size-28{font-size: var(--font-size-28);}
.font-size-30{font-size: var(--font-size-30);}
.font-size-34{font-size: var(--font-size-34); line-height: 2.8rem;}

.font-family-light{font-family: var(--font-family-light);}
.font-family-regular{font-family: var(--font-family-regular);}
.font-family-medium{font-family: var(--font-family-medium);}
.font-family-sb{font-family: var(--font-family-sb);}

.font-color-primary{color: var(--primary)!important;}
.font-color-secondary{color: var(--secondary)!important;}
.font-color-secondary-inactive{color:var(--white)!important;}
.font-color-white{color: var(--white)!important;}
.font-color-medium-green{color: var(--medium-green)!important;}
.font-color-gray-main{color: var(--gray-main)!important;}
.font-color-gray-light{color: var(--gray-light)!important;}
.font-color-danger{color: var(--danger)!important;}
.font-color-turquoise-green{color: var(--turquoise-green)!important;}
.font-color-promo{color: var(--red-promo)!important;}

.line-through {text-decoration: line-through; text-decoration-color: var(--secondary); }
.text-color-gray {color:var(--gray);}

.text-break {word-break: break-word!important;overflow-wrap: break-word!important;}
.rounded-lg {border-radius: 0.75rem !important; }

/*===  THEMES DE COULEUR ===*/
.theme_alimentation .categorie_bloc .height-cate{background-color: var(--light-green) !important;}
.theme_alimentation aside.col-lg-3 {background-color: var(--light-green) !important;}
.theme_alimentation aside#menu_cat_fp{background-color: var(--light-green) !important;}
.theme_alimentation .nav_gauche .open + ul,
.theme_alimentation .nav_gauche span.fa.fa-minus,
.theme_alimentation .nav_gauche span.fa.fa-plus:hover{background-color: var(--medium-green) !important;}
.theme_alimentation .slider_responsive .carousel_object.active,
.theme_alimentation .slider_responsive .carousel_object:hover{background-color: var(--light-green) !important;}

.theme_enfant .categorie_bloc .height-cate{background-color: var(--light-bright-green) !important;}
.theme_enfant aside.col-lg-3 {background-color: var(--light-bright-green) !important;}
.theme_enfant aside#menu_cat_fp{background-color: var(--light-bright-green) !important;}
.theme_enfant .nav_gauche .open + ul,
.theme_enfant .nav_gauche span.fa.fa-minus,
.theme_enfant .nav_gauche span.fa.fa-plus:hover{background-color: var(--medium-bright-green) !important;}
.theme_enfant .slider_responsive .carousel_object.active,
.theme_enfant .slider_responsive .carousel_object:hover{background-color: var(--light-bright-green) !important;}

.theme_sante .categorie_bloc .height-cate{background-color: var(--light-red) !important;}
.theme_sante aside.col-lg-3 {background-color: var(--light-red) !important;}
.theme_sante aside#menu_cat_fp{background-color: var(--light-red) !important;}
.theme_sante .nav_gauche .open + ul,
.theme_sante .nav_gauche span.fa.fa-minus,
.theme_sante .nav_gauche span.fa.fa-plus:hover{background-color: var(--medium-red) !important;}
.theme_sante .slider_responsive .carousel_object.active,
.theme_sante .slider_responsive .carousel_object:hover{background-color: var(--light-red) !important;}

.theme_maison .categorie_bloc .height-cate{background-color: var(--light-blue) !important;}
.theme_maison aside.col-lg-3 {background-color: var(--light-blue) !important;}
.theme_maison aside#menu_cat_fp{background-color: var(--light-blue) !important;}
.theme_maison .nav_gauche .open + ul,
.theme_maison .nav_gauche span.fa.fa-minus,
.theme_maison .nav_gauche span.fa.fa-plus:hover{background-color: var(--medium-blue) !important;}
.theme_maison .slider_responsive .carousel_object.active,
.theme_maison .slider_responsive .carousel_object:hover{background-color: var(--light-blue) !important;}



/*===  HEADER ===*/
#menu_navbar{height: 100px;}
#menu_navbar #search{width: 320px; border-radius: 0.25em 0 0 0.25em; border: none; height: 38px;}
#menu_navbar #search_ok{width: 55px; height: 38px; border-radius: 0 0.25em 0.25em 0; background-color: #fff; padding: 0;}
#menu_navbar #search_ok::before{font-size: 26px; color: var(--primary);}
#menu_navbar #link_monpanier{height: 100px; width: 100px;}
#menu_navbar .nav-item{height: calc(100px - 2rem);}
#menu_navbar #header_show_total{bottom: 0;}
/*remove hover event on ios*/
@media (pointer: fine) {
#menu_navbar .nav-item:hover > .primary_svg{display: none;}
#menu_navbar .nav-item:hover > .primary_svg + .secondary_svg{display: block !important;}
#navbar_secondary .nav-item .header_menu .active_menu::after,
#navbar_secondary .nav-item .header_menu  a:hover::after{ content: ''; height: 3px; width: calc(100% - 1rem); border-top: 3px solid var(--secondary); z-index: 10000; transition: all linear .2s; border-radius: 8px; position: absolute; bottom: 6px; left: 0.5rem;}
}
#menu_navbar .header_svg_label{position: absolute; bottom: -0.3rem; color: var(--secondary);}
#menu_navbar .nav-item:hover .header_svg_label{color: var(--secondary);}
#navbar_secondary .layer_menu2{position: fixed;left: 1rem;top: 140px;width: 100%;background-color: var(--white);max-height: calc(100vh - 152px);overflow-y: auto;}
header .menu_nav .nav-item a::after{content: ''; width: 0; border-top: 3px solid var(--secondary);}
#navbar_secondary .nav-item .header_menu .active_menu::after{width: calc(100% - 1rem) !important;}
#navbar_secondary .nav-item .header_menu a.active_menu{font-family: var(--font-family-sb);}
#layer_compte_off,
#layer_compte_on{ right: 0;top: -8px;z-index: 1080;left: initial;}
#layer_compte_on li svg {width: 34px !important;}
#layer_compte_off .connexion_reset_password{width: calc(100% - 2rem); transition: all linear .2s;pointer-events: none;}
#layer_compte_off .lower_connexion_hide{opacity: 0 !important; pointer-events: none;}
#layer_compte_off .lower_connexion_show{opacity: 1 !important; pointer-events: initial;}
#layer_compte_off #form_connexion_mon_compte {opacity: 1;transition: all linear .2s;}
#layer_compte_off #mdp_ctn_error_txt{color: #dc3545;}
#layer_compte_off #mdp_ctn_error_txt::before{content: "\f00d  ";font-family: 'FontAwesome';font-size: 15px;}
#layer_compte_off #mdp_ctn_error_txt.resetmdp_confirmation{color: var(--primary);}
#layer_compte_off #mdp_ctn_error_txt.resetmdp_confirmation::before {content: "\f00c  ";font-family: 'FontAwesome';font-size: 15px;}
#layer_panier{width: 100%; top: -8px; left: initial;  right: 0 ;z-index: 1080;}
#navbar_secondary ul.categories_n3{display: none; list-style: none; padding: 0;}
header .hover{cursor: pointer;}
header .cart_preview_item{-webkit-line-clamp: 1;text-overflow: ellipsis;display: -webkit-box;overflow: hidden;-webkit-box-orient: vertical;max-height: 20px;}
header .nb_panier{top: 0.3rem;}
header #logo_abeille{display: none;position: absolute;left: -30px;top: -15px;}
#navbar_secondary li .img-cate{width: auto;max-width: 25px;max-height: 25px;height: auto; color: transparent; transition: all linear .2s;}
#navbar_secondary li .img-cate-container{width: 25px; margin-right: 5px;}
#navbar_secondary .menu_min_height{min-height: 400px;}
.menu_popup_container{top: 100px; z-index: 1080}

#lien_1348 {background-color: var(--red-promo); border-radius: 5px; color: var(--white); }
#lien_4023 {color: #72a5de; background-color: var(--light-blue); border-radius: 5px;}
#lien_4023 span{ display: inline-block!important; font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
#lien_4023 span::after{content: "\f069";}

.cookies_banner{ z-index: 1040;width: 80%;left: 10%;bottom: 0;}
#code{z-index: 1020; width: auto; max-width: 800px; left: 0; bottom: 0; background-color: var(--light-yellow); padding: 0.25rem 4rem 0.25rem 1.5rem; transition: all ease-out .2s;}
#code .texte{width: 50%; min-width: 500px; transition: all ease-out .2s;}
#code .code_ctn{min-width: 200px;border: none;}
#code #accordion_codepromo:hover{cursor: pointer; background-color: #F2625D !important;}
#code .code,
#code .avec {color: #F2625D;}
#code svg path {fill: #F2625D !important;transition: all linear .2s;}
#code #accordion_codepromo:hover .code,
#code #accordion_codepromo:hover .avec{color: var(--white) !important;}
#code #accordion_codepromo:hover svg path{fill: var(--white) !important; transition: all linear .2s;}

/*===  RECHERCHE ===*/
#results_search{z-index: 1060; top: 100px !important;}
#results_search .ui-widget-header{font-weight: normal !important;}
#results_search .ui-autocomplete.ui-widget-content{width: 100% !important;top: 0px !important; max-height: calc(100vh - 100px); overflow-y: scroll; border: none !important;}
/*#results_search .ui-autocomplete.ui-widget-content::after{ content: '';background-color: var(--transparent-gray);width: 100%;height: 100vh;position: fixed;z-index: 1000;}*/
#results_search span.details{font-family: var(--font-family-sb); text-transform: none !important;}
#results_search .prod_list {height: 290px; border-right: 1px solid var(--warm-gray); border-bottom: 1px solid var(--warm-gray); margin-bottom: 2rem;}
#results_search .prod_list .top_vente_octogon_listing, 
#results_search .prod_list .prct, 
#results_search .prod_list .pastille_lot,
#results_search .prod_list .prix_engages {width: 54px;height: 43px;}
#results_search .prod_list .top_vente_octogon_listing div,
#results_search .prod_list .prct div,
#results_search .prod_list .pastille_lot div,
#results_search .prod_list .prix_engages div {padding: 0 !important;font-size: var(--font-size-12)!important;}
#results_search #ui-autocomplete-category-favorites,
#results_search #ui-autocomplete-category-products{border-left: 1px solid var(--warm-gray); border-top: 1px solid var(--warm-gray);}
.ui-autocomplete.open{ display: block !important; }
#results_search .search_link_products a{ height: 63px;-webkit-line-clamp: 3;text-overflow: ellipsis;display: -webkit-box;overflow: hidden;-webkit-box-orient: vertical;}
#results_search #search_brand_cat_bloc,
#results_search #search_filter{max-height: calc(100vh - 120px); overflow-y: auto;}

/*navbar + menu hover button*/
#navbar_secondary span.fa.fa-plus,
.nav_gauche span.fa.fa-plus,
#navbar_secondary span.fa.fa-minus,
.nav_gauche span.fa.fa-minus{line-height: 22px; float: right; transition: all linear .2s; width: 30px; border-radius: 4px 4px 0 0;}
#navbar_secondary span.fa.fa-minus{background-color: var(--light-bright-green); transition-delay: .3s;}
.nav_gauche span.fa.fa-minus{background-color: var(--medium-green); transition-delay: .3s;}
#navbar_secondary .categories_n3{background-color: var(--light-bright-green);  border-radius: 4px 0 4px 4px;}
#navbar_secondary span.fa.fa-plus:hover,
#navbar_secondary span.fa.fa-minus:hover,
.nav_gauche span.fa.fa-plus:hover,
.nav_gauche span.fa.fa-minus:hover{color: var(--secondary); cursor: pointer;}
#navbar_secondary span.fa.fa-plus:hover{background-color: var(--light-bright-green); border-radius: 4px;}
.nav_gauche span.fa.fa-plus:hover{background-color: var(--medium-green); border-radius: 4px;}
.nav_gauche .open.children {margin-bottom: -4px !important;}
.nav_gauche .open {margin-bottom: 0.5rem !important;}
.nav_gauche .open-2, .nav_gauche .open-3, .nav_gauche .open-1 {margin-bottom: 0.5rem !important}
.nav_gauche .open + ul{background-color: var(--medium-green); padding: 1rem 0; margin-bottom: 1.5rem;}
.responsive_menu_modal,
#navbar_secondary .header_menu span.fa{display: none !important;}
#navbar_secondary { transition: all ease-out .3s;position: fixed;top: 100px;right: 0;left: 0;z-index: 1030;}
.menu_word_break{width: calc(100% - 35px);overflow: hidden;max-height: 20px;-webkit-line-clamp: 1;text-overflow: ellipsis;display: inline-block;display: -webkit-inline-box;-webkit-box-orient: vertical;}
.menu_word_break_img{width: calc(100% - 30px);}


/*===  OCTAGON ===*/
.octagon {overflow: hidden; transform: rotate(17deg); width: 200px; height: 200px; left: calc(50% - 100px); top: -35px;}
.octagon .inner{width: 200px; height: 200px;}
.octagon_medium {overflow: hidden; transform: rotate(17deg); width: 175px; height: 175px; left: calc(50% - 87px); top: 0px;}
.octagon_medium .inner{width: 175px; height: 175px;}
.octagon .inner,
.octagon_medium .inner {transform: rotate(55deg);background-color: var(--primary); transition: all linear .2s;}
.octagon_footer .inner{background: var(--cold-gray);}
.octagon_home .inner{background: var(--white);}
.octagon_link{width: 200px;height: 170px;}
.octagon_link:hover{text-decoration: none !important;}
.octagon_link:hover .inner{cursor: pointer; background-color: var(--medium-green);}
.octagon_link:hover .octagon_medium .inner{background-color: var(--light-yellow);}
.octagon_link:hover .octagon_content{display: none;}
.octagon_link:hover .invisible{visibility: visible !important; transition: all linear .2s;}
.octagon_svg{height: 70px; margin-top: -1rem;}
.octagon_svg_footer{height: 80px;}

/*===  ROLLOVER ===*/
.rollover{width: 70px; height: 70px; display: flex;justify-content: center;align-items: center; background-color: var(--primary); position: absolute; left: 0; bottom: 0; transition: all linear .1s;}
.magazeen_ctn .rollover{width: 40px; height: 40px;}
.full_block_link:hover .rollover,
.rollover:hover{cursor: pointer; width: 250px;}
.rollover p{position: absolute; opacity: 0;}
.full_block_link:hover .rollover p,
.rollover:hover p{position: relative; opacity: 1; transition: opacity .1s; transition-delay: .2s;}
.full_block_link{position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 3;}

/*===  FORMS ===*/
#password_visibility,
#responsive_password_visibility,
#password_visibility_account,
#password_visibility_account_2,
#password_visibility_create_account,
#password_visibility_reset_password,
#password_visibility_reset_password2{border: none; background: none; right: 0;top: 6px;font-size: 22px;z-index: 10;color: var(--primary);}
#password_visibility:hover,
#responsive_password_visibility:hover,
#password_visibility_account:hover,
#password_visibility_account_2:hover,
#password_visibility_create_account:hover,
#password_visibility_reset_password:hover,
#password_visibility_reset_password2:hover{cursor: pointer;}
.custom-radio .custom-control-label:hover::before,
.custom-control-label:hover::after,
.custom-control-label:hover{cursor: pointer;}
.input-group-text{width: 40px;}
.input-group-prepend span[class*="fa-"]:before {margin: 0 auto;}
.input-group-prepend .is-invalid{color: #dc3545;background-color: #efa2a9; border: 1px solid #dc3545;}
.custom-control-label.is-invalid::before{background-color: #efa2a9;}
.form-control.is-invalid {border: 1px solid #dc3545;}


/*===  FIL D'ARIANE  ===*/
#fil_ariane ul li .fleche::before, 
#fil_ariane ul li a.fleche_souligne::before,
#fil_ariane ul li a.cheminFer::before, 
#fil_ariane ul li:last-child span::before { content: '›'; position: absolute; left: -14px; font-size: 25px;}
#fil_ariane ul li { float: left; list-style: none; font-size: 11px; color: #5c5c5c; position: relative; margin-right: 22px;}
#fil_ariane ul {margin:0; padding:0;}

/*===  CONTENU ===*/
main{padding: 1rem 0;}
#contenu,
#contenu-static{margin-top: 152px;}
#contenu-static{padding-top: 0;}
.magic_underline:hover{text-decoration: none !important;box-shadow: inset 0 -2px 0 transparent, inset 0 -3px 0 var(--secondary); cursor: pointer;}
button.slick-arrow:focus{outline: none;}
.column-count-2 {column-count: 2;}
.column-count-3 {column-count: 3;}
.nav_gauche.sticky-top{top: 172px;}
#titre_nav_gauche{ height: calc(100vh - 170px); overflow: auto;}
section .bloc_visuel_promo figure,
section .bloc_visuel_promo img{max-height: 280px; max-width: 395px; width: 100%; height: auto;}
section .magazeen_ctn figure,
section .magazeen_ctn img{max-width: 100%; height: auto; max-height: 100%;}
section .magazeen_ctn figure{height: 100% !important;}
section .bloc_visuel_promo:nth-child(1){padding: 0 1rem 0 0;}
section .bloc_visuel_promo:nth-child(2){padding: 0 0.5rem 0 0.5rem;}
section .bloc_visuel_promo:nth-child(3){padding: 0 0 0 1rem;}
section .bloc_visuel_promo:nth-child(4){padding: 0 1rem 0 0;}
section .bloc_visuel_promo:nth-child(5){padding: 0 0.5rem 0 0.5rem;}
section .bloc_visuel_promo:nth-child(6){padding: 0 0 0 1rem;}
/*noselect sur le contenu editorial*/
.noselect {-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
/* FIX FIREFOX BUTTON NOWRAP*/
@-moz-document url-prefix() {.btn {white-space: normal;}}


/*===  DIV BOX ===*/
.prod_list .rayon_img{background-color: #fff; height: auto; padding-bottom: 60px !important;}
.prod_list .panier,
.slider_responsive .panier{width: 44px; height: 44px; transition: all linear .2s; background-color: var(--secondary);}
.prod_list .panier{left: 0; bottom: 0;}
.slider_responsive .panier{right: 0; bottom: 0;}
.prod_list .panier:hover,
.slider_responsive .panier:hover{background-color: var(--primary); cursor: pointer;}
.prod_list .panier:hover svg>g>path,
.slider_responsive .panier:hover a>svg>g>path{stroke: var(--secondary) !important;}
.prod_list .panier a,
.slider_responsive .panier a{width: 100%; height: 100%; justify-content: center;}
.prod_list .panier svg,
.slider_responsive .panier svg{width: 25px !important;transition: all linear .2s;}
.prod_list .added_to_cart a,
.slider_responsive .added_to_cart a{padding-left: 1rem; justify-content: left;}
.prod_list .added_to_cart svg>g>path,
.slider_responsive .added_to_cart svg>g>path,
.fp_addtobasket.added_to_cart svg>g>path {stroke: var(--secondary) !important;}
.prod_list .added_to_cart,
.fp_addtobasket.added_to_cart{width: calc(100% - 44px); background-color: var(--primary);}
.slider_responsive .added_to_cart{width: 50%; background-color: var(--primary);}
.prod_list .panier .basket_addons,
.fp_addtobasket .basket_addons{opacity: 0; transition: all ease-out .2s; z-index: -10; position: absolute;top: 0;right: 0;width: 100%;height: 100%;align-items: center;display: flex;justify-content: center;}
.prod_list .panier .basket_addons{ width: calc(100% - 40px);}
.prod_list .added_to_cart .basket_addons,
.fp_addtobasket.added_to_cart .basket_addons{opacity: 1; z-index: 2;}
.prod_list .labels_container{left: 1rem;top: -1rem; z-index: 10; }
.prod_list img{width: 100%; height: auto; max-width: 210px;}
.prod_list .titre{ height: 65px;-webkit-line-clamp: 3;text-overflow: ellipsis;display: -webkit-box !important ;overflow: hidden;-webkit-box-orient: vertical;}
.prod_list .titre_autocomplete{height: 60px !important;}
.prod_list .prix_barre a{text-decoration: line-through; text-decoration-color: var(--secondary); color: var(--turquoise-green);}
.prod_list.inactive .rayon_img,
#ui-autocomplete-category-products .unavailable_product {background-color: var(--medium-gray) !important;}
.prod_list.inactive img,
#ui-autocomplete-category-products .unavailable_product img {mix-blend-mode: multiply;filter: grayscale(90%);  opacity: 0.6;}
#fp_col_whishlist.favorite button{background-color: var(--primary)!important; transition: all ease-out .2s;}
#fp_col_whishlist.favorite button svg path{ stroke: var(--medium-red)!important; fill: var(--medium-red) !important;transition: all ease-out .2s;}
.prod_list .stock.inactive{ bottom: 0; left: 44px; z-index: 10;right: 1rem;width: calc(100% - 88px);height: 44px;line-height: 44px;}
.prod_list.inactive .panier{background-color: var(--medium-gray)!important;}
.prod_list.inactive .panier svg>g>path {stroke: var(--gray-main) !important;}
.prod_list .etoile:empty {padding: 0.7rem;}
.prod_list #fp_col_whishlist{width: 44px; height: 44px; right: 0; bottom: 0;}
.prod_list #fp_col_whishlist button{border-radius: 0; background-color: var(--white);}
.prod_list.inactive #fp_col_whishlist button { background-color: var(--medium-gray) !important;}
.prod_list.inactive #fp_col_whishlist.favorite button{ background-color: var(--primary) !important;}


 /**================ CAROUSEL JS ====================**/
/* Slider */
.slider_responsive{float: left; width: 100%; margin: 30px 0;}
.slider_responsive .cross_sell_title{width: 45%;}
.slider_responsive .cross_sell_title .font-family-sb.font-size-13 {-webkit-line-clamp: 3;text-overflow: ellipsis;display: -webkit-box;overflow: hidden;-webkit-box-orient: vertical;max-height: 60px;}
.cross_sell_elipsis_brand{overflow: hidden;max-height: 20px;-webkit-line-clamp: 1; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical;}
.slick-slider {float: left; width: 100%;margin: 15px 0;position: relative; display: block; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }
.slick-list {position: relative; display: block; overflow: hidden; margin: 0; padding: 0; } 
.slick-list:focus {outline: none; } 
.slick-list.dragging {cursor: pointer; cursor: hand; }
.slick-slider .slick-track,
.slick-slider .slick-list {-webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.slick-track {position: relative; top: 0; left: 0; display: block; margin-left: auto; margin-right: auto; } 
.slick-track:before,
.slick-track:after {display: table; content: ''; } 
.slick-track:after {clear: both; } 
.slick-loading .slick-track {visibility: hidden; }
.slick-slide {display: none; float: left; height: 100%; min-height: 1px; background: none; margin: 0 20px; } 
[dir='rtl'] .slick-slide {float: right; }
.slick-slide img {display: block; max-width: 120px; height: auto;} 
.slick-slide.slick-loading img {display: none; }
.slick-slide.dragging img {pointer-events: none; } 
.slick-initialized .slick-slide {display: block; } 
.slick-loading .slick-slide {visibility: hidden; }
.slick-vertical .slick-slide {display: block; height: auto; border: 1px solid transparent; } 
.slick-arrow.slick-hidden {display: none; }
#categories_oublies{display:none;}
/* Arrows */ 
.slick-prev, .slick-next { z-index: 2;position: absolute;top: 50%;width: 50px;height: 50px;-webkit-transform: translate(0, -50%);-ms-transform: translate(0, -50%);transform: translate(0, -50%);cursor: pointer;border: none;background: transparent;}
.slick-prev {left: -20px; color: var(--primary); font-size: var(--font-size-30);}
.slick-next {right: -20px; color: var(--primary); font-size: var(--font-size-30);}
.slick-prev:hover,
.slick-next:hover{color: var(--secondary); transition: all linear .2s;}
.slick-arrow.slick-disabled{opacity: 0; transition: all linear .2s;}
 /* Dots */ 
.slick-dotted.slick-slider {margin-bottom: 30px; }
.slick-dots {position: absolute; bottom: -25px; display: block; width: 100%; padding: 0; margin: 0; list-style: none; text-align: center; }
.slick-dots li {position: relative; display: inline-block; width: 20px; height: 20px; margin: 0 5px; padding: 0; cursor: pointer; }
.slick-dots li button {font-size: 0; line-height: 0; display: block; width: 20px; height: 20px; padding: 5px; cursor: pointer; color: transparent; border: 0; outline: none; background: transparent; }
.slick-dots li button:hover, .slick-dots li button:focus {outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before {opacity: 1; }
.slick-dots li button:before {font-family: 'slick'; font-size: 6px; line-height: 20px; position: absolute; top: 0; left: 0; width: 20px; height: 20px; content: '•'; text-align: center; opacity: .25; color: black; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before {opacity: .75; color: black; }
/* Object */
.slider_responsive .carousel_object,
.slider_responsive .prod_list{ height: 130px; width: 290px; display: block; background: #fff; box-shadow: 3px 3px 10px -3px rgba(0, 0, 0, 0.26);padding: 0.3em; margin: 15px 0; position: relative;}
.slider_responsive .carousel_object a,
.slider_responsive .prod_list a{display: block;}
.slider_responsive .carousel_object img,
.slider_responsive .prod_list img{float: left; width: auto;max-height: 120px; max-width: 50%;}
.slider_responsive .carousel_object p,
.slider_responsive .prod_list p{float: right;width: calc(100% - 130px);clear: none;overflow: hidden;max-height: 70px;-webkit-line-clamp: 4; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical;}
.slider_responsive .carousel_object:hover {background-color: var(--light-green); transition: all linear .1s; cursor: pointer;}
.slider_responsive .carousel_object.active{background-color: var(--light-green);}
.slider_responsive .prix_engages,
.slider_responsive .pastille_lot{top: -15px; left: -20px;}

/*===  CUSTOM SWITCH BOOSTRAP DE LA 4.2  ===*/
.custom-switch {padding-left: 2.25rem;}
.custom-switch .custom-control-label::before {left: -2.25rem;width: 1.75rem;pointer-events: all;border-radius: .5rem;}
.custom-control-label::before, .custom-file-label, .custom-select {   transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.custom-control-label::before {position: absolute;top: .25rem;left: -1.5rem;display: block;width: 1rem;height: 1rem;pointer-events: none;content: "";background-color: var(--white);border: #adb5bd solid 1px;}
.custom-switch .custom-control-label::after {top: calc(.25rem + 2px);left: calc(-2.25rem + 2px);width: calc(1rem - 4px);height: calc(1rem - 4px);background-color: #adb5bd;border-radius: .5rem;transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out;transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out;}
.custom-control-input:checked~.custom-control-label::before {color: var(--white);border-color: var(--primary);background-color: var(--primary);}
.custom-switch .custom-control-input:checked~.custom-control-label::after {background-color: var(--white);-webkit-transform: translateX(.75rem);transform: translateX(.75rem);}

/*===  FOOTER  ===*/
#footer .footer_services{height: 190px;}
#footer .octagon_svg_footer>svg>g>path {stroke: var(--primary) !important;}
#footer #green_leaf_svg>svg>path {fill: var(--primary) !important;}
#footer #green_leaf_svg>svg{width: 50px !important;}
#footer .reseaux a:hover > .primary_svg{display: none;}
#footer .reseaux a:hover > .primary_svg + .secondary_svg{display: flex !important; margin: 0 auto;}
#footer .contact .octagon_link {width: 100%;}



/*===  AVIS  ===*/
.etoile_bg { height: 15px;width: 111px;background: url(https://static.greenweez.com/assets/static/store-1/french/images/Gwz2/shop-stars.png) no-repeat;}
.etoile_note { height: 15px;background: url(https://static.greenweez.com/assets/static/store-1/french/images/Gwz2/shop-stars_yellow.png) no-repeat; }

.etoile_bg2 { height: 15px;width: 111px;background: url(https://static.greenweez.com/assets/static/store-1/french/images/Gwz2/shop-stars2.png) no-repeat;}
.etoile_note2 { height: 15px;background: url(https://static.greenweez.com/assets/static/store-1/french/images/Gwz2/shop-stars_yellow2.png) no-repeat; }

/*===  BLOC REMISE / TOP / NEW  ===*/
.top_vente_octogon_listing{background: url("https://static.greenweez.com/assets/static/store-1/french/images/Gwz2/top.png") no-repeat ;  z-index: 10;background-size: 100%; width: 54px;height: 48px;}
.frais_octogon_listing{background: url("https://static.greenweez.com/assets/static/store-1/french/images/Gwz2/frais_octogone.png") no-repeat ;  z-index: 10;background-size: 100%; width: 54px;height: 48px;}
.inactive .top_vente_octogon_listing,
.inactive .frais_octogon_listing{background: url("https://static.greenweez.com/assets/static/store-1/french/images/Gwz2/top.png") no-repeat ;  z-index: 10;background-size: 100%; width: 54px;height: 48px; -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -o-filter: grayscale(100%); -ms-filter: grayscale(100%); filter: grayscale(100%);}
.inactive .frais_octogon_listing div{color: var(--white)!important;}
.inactive .label_bio {background: url("https://static.greenweez.com/assets/static/store-1/french/images/Gwz2/bio.png") no-repeat; z-index: 10;background-size: 100%; -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -o-filter: grayscale(100%); -ms-filter: grayscale(100%); filter: grayscale(100%);}
.prct {background: url("https://static.greenweez.com/assets/static/store-1/french/images/Gwz2/remise.png") no-repeat ;  z-index: 10;background-size: 100%; width: 54px;height: 48px;}
.label_bio {background: url("https://static.greenweez.com/assets/static/store-1/french/images/Gwz2/bio.png") no-repeat ;  z-index: 10;background-size: 100%; width: 48px;height: 45px; right: -0.5rem; bottom: 0;}
.pastille_lot,
.prix_engages {background: url("https://static.greenweez.com/assets/static/store-1/french/images/Gwz2/lot.png") no-repeat ;  z-index: 10;background-size: 100%; width: 54px;height: 48px;}

/*===  ANIMATIONS CSS  ===*/

 /*Rotating border spinner*/
@keyframes spinner-border {to { transform: rotate(360deg); }}

.spinner-border {display: inline-block;width: 20px;height: 20px;vertical-align: text-bottom;border: 5px solid var(--secondary);border-right-color: transparent;border-radius: 50%;animation: spinner-border .75s linear infinite;}
.spinner-background{content: ''; width: 100%; height: 100%; background-color: #00000091; position: absolute; top: 0; left: 0;z-index: 1020;transition: all linear .3s;padding-top: 150px;}
.spinner-border-sm {width: 10px;height: 10px;border-width: 5px;}

/*Growing circle spinner*/
@keyframes spinner-grow {
  0% {transform: scale(0);}
  50% {opacity: 1;}
}

.spinner-grow {display: inline-block;width: 20px;height: 20px;vertical-align: text-bottom;background-color: var(--primary);border-radius: 50%;opacity: 0;animation: spinner-grow .75s linear 1;}
.spinner-grow-sm {width: 10px;height: 10px;}

/*bounce*/
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0)}
	40% {-webkit-transform: translateY(-30px);-ms-transform: translateY(-30px);transform: translateY(-30px)}
	60% {-webkit-transform: translateY(-15px);-ms-transform: translateY(-15px);transform: translateY(-15px)}
}

.bounce_animation{ animation-name: bounce;-moz-animation-name: bounce;  -webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;-webkit-animation-timing-function: ease-in-out;animation-timing-function: ease-in-out;animation-iteration-count: 1;-webkit-animation-iteration-count: 1;}

/*flash*/
.flash_animation {animation-name: flash;-webkit-animation-duration: .3s;animation-duration: .3s;}

@keyframes flash{
    0% { background-color: var(--primary); }
    50% { background-color: var(--secondary); }
    100% {  background-color: var(--primary); }
}

@-webkit-keyframes fadein{
    0% { background-color: var(--primary); }
    50% { background-color: var(--secondary); }
    100% {  background-color: var(--primary); }
}

/* fadein*/
@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

/*===  CUSTOM MODAL LISTING FILTRES  ===*/
.modal.left .modal-dialog {position: fixed;margin: auto;width: 320px;height: 100%;-webkit-transform: translate3d(0%, 0, 0);-ms-transform: translate3d(0%, 0, 0);-o-transform: translate3d(0%, 0, 0);transform: translate3d(0%, 0, 0);}
.modal.left .modal-content {height: 100%;overflow-y: auto;-webkit-overflow-scrolling: touch;}
.modal.left .modal-body {padding: 15px 15px 80px;}
.modal.left.fade .modal-dialog {left: -320px;-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;-moz-transition: opacity 0.3s linear, left 0.3s ease-out;-o-transition: opacity 0.3s linear, left 0.3s ease-out;transition: opacity 0.3s linear, left 0.3s ease-out;}
.modal.left.fade.show .modal-dialog {left: 0;}

#selected_filters .btn-outline-primary{max-width: 200px;-webkit-line-clamp: 1;text-overflow: ellipsis;overflow: hidden;-webkit-box-orient: vertical; padding-right: 1.5rem;}
#selected_filters .filter_delete{right: 0.3rem; top: 6px;}

/*Fix radio et checkbox image*/
/*.custom-radio .custom-control-input:checked ~ .custom-control-label::after { content: "\f111";font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #fff;font-size: 5px;display: flex;justify-content: center;align-items: center;margin: 0;padding: 0;}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after { content: "\f00c";font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #fff;font-size: 10px;display: flex;justify-content: center;align-items: center;margin: 0;padding: 0;}
*/


/*===================*/
/*===  RESPONSIVE ===*/	
/*===================*/
@media (max-width: 1399px) {
/*===  MENU NAV ===*/
.navbar-expand-lg .navbar-nav .nav-link{font-size: var(--font-size-14)!important;padding-right: 0.3rem; padding-left: 0.3rem;}
}


@media (max-width: 1200px) {
#hp_contenu,
#contenu,
#contenu-static {margin-top: 170px;}
/*===  MENU NAV ===*/	
header .navbar-brand svg{width: 100% !important;}
#menu_navbar form{width: auto;}
#menu_navbar #search{width: 80%;}
#menu_navbar #search_ok{width: 20%;}
#menu_navbar .nav-item{padding-left: 1rem !important; padding-right: 1rem !important;}
#navbar_secondary .layer_menu2 {top:160px;}
}

@media (max-width: 992px) {
/*=== GLOBAL ===*/
html{font-size: 14px !important;}
#hp_contenu,
#contenu,
#contenu-static{margin-top: 115px;padding-top: 0;}
main{padding: 1rem;}
.rollover{height: 40px; width: 40px;}
.rollover span{font-size: var(--font-size-20);}
.tooltip,
.ui-tooltip {display: none !important;}

.cookies_banner{bottom: 0;margin-bottom: 0;}
#code{bottom: 0px;  left: 0; transition: all ease-in-out .2s; width: auto; z-index: 1000;}
.scrollUp ~ #code{bottom: 0;  transition: all ease-in-out .2s;}
#code .texte{min-width: auto;}

/*===  MENU NAV ===*/
#layer_compte_off,
#layer_compte_on{top: -10000px; display: none !important;}
.responsive_menu_modal, 
#navbar_secondary .header_menu span.fa{display: flex !important;}	
.navbar-expand-lg .navbar-nav .nav-link{font-size: var(--font-size-15)!important;}
#menu_navbar{height: 60px; padding: 0 1rem;}
#responsive-menu-container{padding: 0;}
header .navbar-brand svg{height: 50px;}
#navbar_secondary{height: 54px; top: 60px;z-index: 1020;}
.modal-open #navbar_secondary{z-index: 1030; transition: all ease-in-out .2s; height: 0;padding: 0;}
#menu_navbar #main_search_form{width: 100%; position: absolute;bottom: -46px;z-index: 10; transition: all ease-out .3s;}
header .navbar-brand{width: calc(100% - 140px);margin-right: 0;margin-left: 70px;}
header .responsive_search_form{bottom: 11px!important; width: calc(100% - 140px) !important;left: 60px;}
#menu_navbar #link_monpanier_mobile,
#menu_navbar #link_monpanier{height: 60px; width: 70px;}
#menu_navbar #link_monpanier{opacity: 0;}
#navbar_secondary .navbar-toggler{}
#navbar_secondary .layer_menu2{position: relative; height: auto;  z-index: 2; width: 320px;-webkit-overflow-scrolling: touch; max-height: none; top: 0; margin-bottom: 2rem;}
header #mon_panier svg{width: 25px !important;}
#responsive-menu-container a[name="mes listes"] svg>path + g>g>path{stroke: var(--primary) !important;}
#responsive-menu-container a[name="contact"] svg>path + g>path{stroke: var(--primary) !important;}
#responsive-menu-container a[name="compte"] svg>path + path{fill: var(--primary) !important;}
#menu_navbar .header_svg_label{bottom: initial; position: relative;display: flex;align-self: center; color: var(--primary);}
#navbar_secondary .header_menu a {width: calc(100% - 40px); float: left; text-align: left;}
#navbar_secondary .header_menu a:hover{font-family: var(--font-family-sb);}
#navbar_secondary .header_menu span.fa{height: 30px;justify-content: center;align-content: center;display: flex;align-items: center;}
#navbar_secondary .layer_menu2  .list-unstyled.col-md-12{margin-bottom: 0;}
#navbar_secondary .bandeauBasMenu a {margin-top: 1.5rem; width: 100%;font-size: var(--font-size-12);}
#navbar_secondary .layer_menu2 .cat_level_2 a{font-family: var(--font-family-regular)!important;}
#navbar_secondary.responsive_nav_bar {position: absolute; top: 0; left: 0; z-index: 1020;}
#navbar_secondary .layer_menu2 .img_maison {margin-top: 1rem;}
#responsive-modal-dialog{top: 60px; transition: all ease-out .3s;}
#navbar_secondary .header_menu{width: 100%;}
#responsive-menu-container a[name="compte"],
#responsive-menu-container a[name="contact"],
#responsive-menu-container a[name="mes listes"]{-webkit-animation: 1s ease 0s normal forwards 1 fadein;animation: 1s ease 0s normal forwards 1 fadein;}
#responsive-menu-container a[name="compte"]{background-color: var(--light-yellow); order: -1;}
#menu_navbar #link_monpanier_mobile{-webkit-animation: 1s ease 0s normal forwards 1 fadein;animation: 1s ease 0s normal forwards 1 fadein;}
#menu_navbar #search{font-size:16px!important; overflow: hidden;-webkit-line-clamp: 1;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;}
#menu_min_height .menu_min_height{min-height: auto;}
#responsive-menu-container .nav-item{ height: 50px; width: calc(100% / 3); justify-content: left !important; padding-top: 0; padding-bottom: 0;}
#responsive-menu-container .nav-item p{display: flex; align-items: center;}
#navbar_secondary .nav-item .header_menu  a:hover::after{left: 0;}
#responsive-modal-dialog .modal-body{padding: 0px !important;}
#responsive-menu-container svg{width: 30px !important;}
#left-menu-footer{padding-bottom: 130px !important;}
#menu_navbar #header_show_total span ,
header .nb_panier{font-size: var(--font-size-12);}
/*animation menu mobile*/
#responsive-modal-dialog .menu_nav_li{position: relative;}
#responsive-modal-dialog .menu_nav_li > li{ right: 100%; opacity: 0; visibility: hidden;}
.show #responsive-modal-dialog .menu_nav_li > li{ right: 0; top: 0; width: 100%; opacity: 1; visibility: visible; transition: .3s ease-out; transition-delay: .1s; position: absolute; flex-direction: column;}
.show #responsive-modal-dialog .menu_nav_li > li .header_menu{padding-left: 1rem;}
.show #responsive-modal-dialog .menu_nav_li > li:nth-child(1){transition-delay: .1s;}
.show #responsive-modal-dialog .menu_nav_li > li:nth-child(2){transition-delay: .13s;}
.show #responsive-modal-dialog .menu_nav_li > li:nth-child(3){transition-delay: .16s;}
.show #responsive-modal-dialog .menu_nav_li > li:nth-child(4){transition-delay: .19s;}
.show #responsive-modal-dialog .menu_nav_li > li:nth-child(5){transition-delay: .22s;}
.show #responsive-modal-dialog .menu_nav_li > li:nth-child(6){transition-delay: .25s;}
.show #responsive-modal-dialog .menu_nav_li > li:nth-child(7){transition-delay: .28s;}
.show #responsive-modal-dialog .menu_nav_li > li:nth-child(8){transition-delay: .31s;}
.show #responsive-modal-dialog .menu_nav_li > li:nth-child(9){transition-delay: .33s;}
.show #responsive-modal-dialog .menu_nav_li > li:nth-child(10){transition-delay: .36s;}
.show #responsive-modal-dialog .menu_nav_li > li:nth-child(11){transition-delay: .39s;}
.show #responsive-modal-dialog .menu_nav_li > li:nth-child(12){transition-delay: .42s;}
.show #responsive-modal-dialog .menu_nav_li > li:nth-child(13){transition-delay: .45s;}
.show #responsive-modal-dialog .menu_nav_li > li:nth-child(14){transition-delay: .48s;}

/*=== DIVBOX ===*/
.prod_list.inactive .panier svg {display: none;}
.prod_list .stock.inactive{  left: 0px; width: calc(100% - 44px);}

/*=== CONTENU ===*/
.column-count-2, 
.column-count-3{column-count: 1;}

/*===  RECHERCHE ===*/
#results_search #responsive_search_container{max-width: 100% !important;}
#results_search{top: 115px !important;}
#results_search .ui-autocomplete.ui-widget-content{ -webkit-overflow-scrolling: touch;}
#results_search #search_brand_cat_bloc,
#results_search #search_filter{max-height: calc(100vh - 145px); overflow-y: auto;}
#results_search .ui-autocomplete.ui-widget-content{max-height: calc(100vh - 114px);}

 /**================ CAROUSEL JS ====================**/
.slider_responsive{overflow-x: scroll;overflow-y: hidden;-webkit-overflow-scrolling: touch;white-space: nowrap;height: auto;}
.slider_responsive .carousel_object{display: inline-block !important;float: none;margin-right: 3% !important; width: 80%; max-width: 230px;}
.slider_responsive .carousel_object p,
.slider_responsive .prod_list p{white-space: initial; -webkit-line-clamp: 3;max-height: 67px;}
.slider_responsive .cross_sell_title{white-space: initial;}

/*=== FOOTER ===*/
.octagon .inner,
.octagon,
.octagon_medium,
.octagon_footer .inner{height: 110px; width: 110px;}
.octagon,
.octagon_medium{left: calc(50% - 55px);}
.octagon_link p.font-color-white,
.octagon_medium + .octagon_content p.font-family-medium{display: none;}
.octagon_link p.font-color-secondary,
.octagon_medium + .octagon_content p.font-family-sb{font-size: var(--font-size-12);}
.octagon_link {width: 110px;height: 100px; }
.octagon_svg {height: 35px;margin-top: -1.5rem;margin-bottom: .5rem;}
.octagon_svg_footer{height: 35px;}
.octagon_svg_footer svg{height: 30px !important; width: 50px !important;}
#contact_svg_footer svg{height: 24px !important;}
footer{padding-bottom: 70px;}
.b2b {width: 125px; }
}

@media (max-width: 767px) {
#code .texte{width: 60%; padding-right: 0.5rem;}
#code .code_ctn{width: 40%;}
section .bloc_visuel_promo:nth-child(1),
section .bloc_visuel_promo:nth-child(2),
section .bloc_visuel_promo:nth-child(3),
section .bloc_visuel_promo:nth-child(4),
section .bloc_visuel_promo:nth-child(5),
section .bloc_visuel_promo:nth-child(6){padding: 0;}	
section .bloc_visuel_promo figure{float: none !important; margin: 0 auto;margin-bottom: 1.5rem;}
#results_search .ui-autocomplete.ui-widget-content{padding: 0 1rem;}
#hp_contenu .offre{text-align: center;}
}

@media (max-width: 575px) {
#code .texte{width: 100%; padding-right: 0rem;}
#code .texte .livraison {font-size: var(--font-size-15);}
#code .texte .achat {font-size: var(--font-size-13);}
#code .code_ctn{width: 100%;min-width: auto;}
/*===  MENU NAV ===*/
#menu_navbar #link_monpanier_mobile,
#menu_navbar #link_monpanier{right: -1rem;}
header #logo_abeille{left: -20px;top: -10px;width: 25px !important;}

/*===  RECHERCHE ===*/
#results_search #search_filter{transition: all ease-out .3s; transform: translateX(-200%);max-height: calc(100vh - 160px); position: fixed;left: 0; top: 160px; width: 100%; background-color: var(--cold-gray); padding: 1rem;-webkit-overflow-scrolling: touch;}
#results_search #search_filter.search_filter_translate{transform: translateX(0);}
#results_search .search_link_products a{height: 57px;}
#results_search #launch_filter_sidebar,
#results_search #sort_by_autocomplete{font-size: var(--font-size-12);}
#results_search .prod_list .titre a{font-size: var(--font-size-14)!important;}

/*===  DIVBOX ===*/
.prod_list .titre{height: 60px;}
.prod_list {padding:0 !important;}
.prod_list .rayon_img{box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;}
.top_vente_octogon_listing,
.prct, 
.pastille_lot,
.prix_engages{width: 54px;height: 43px; padding: 0 !important;}
.top_vente_octogon_listing div,
.prct div, 
.pastille_lot div,
.prix_engages div{padding: 0 !important; font-size: var(--font-size-12)!important;}
.donNature {position: absolute !important; top:80px; }
.prod_list .added_to_cart svg{display: none;}
.prod_list .panier .basket_addons{width: 100%;}

/*===  HP ===*/
#hp_triplet{ overflow-x: scroll; overflow-y: hidden; -webkit-overflow-scrolling: touch; white-space: nowrap; display: -webkit-box;}
#hp_triplet .col{ width: auto; max-width: none; padding: 0; min-width: 40%; margin-right: 2rem;}

}


@media (max-width: 414px) /*414 iphone 6/7*/{

.cookies_banner p{font-size: var(--font-size-13);}
.cookies_banner{width: 100%; left: 0;}
/*===  DIVBOX ===*/
.prod_list .panier .basket_addons{width: 100%;}
}

@media (max-width: 375px) {
/*===  RECHERCHE ===*/
#results_search #sort_by_autocomplete{-webkit-line-clamp: 1;text-overflow: ellipsis;display: -webkit-box;overflow: hidden;-webkit-box-orient: vertical;max-width: 150px;}
}

@media (max-width: 320px) {
/*===  MODAL ===*/
#navbar_secondary .layer_menu2,
.modal.left .modal-dialog{width: 280px;}
/*===  DIVBOX ===*/
.prod_list .etoile  span{display: none !important;}
footer .invisible p {font-size: 10px !important; margin-top: -48px; }
/*===  HP ===*/
#hp_triplet .col{min-width: 60%;}
}

/*fix older ios devices*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)
and (pointer: coarse) { 
	@supports (-webkit-overflow-scrolling: touch) {
		header .responsive_menu_modal{top: 15px;} #menu_navbar #main_search_form{left: 0;} .donNature {display: none;} header .responsive_search_form{left: 60px !important;}  
	}
}


/*=== Input font size for ios ===*/
@supports (-webkit-overflow-scrolling: touch) {
input[type="text"], 
input[type="tel"], 
input[type="email"], 
input[type="password"], 
input[type="select"], 
input[type="date"],
input[type="phone"],
input[type="search"],
select,
textarea{font-size: 16px;}
}