/*===  NAV FILTRES LISTING ===*/
.pl_nav_v.sticky-top{top: 150px; padding: 1rem; width: 100%;}
#listing_filtres_modal{top: 150px; height: calc(100vh - 150px);}
#listing_filtres_modal .modal-dialog{height: calc(100vh - 152px);position: relative;float: left;}
nav .pagination .page-item,
nav .pagination .page-link{height: 35px;}
.filtre_toggle:hover{cursor: pointer;}

/*=== contour bloc magazine de categorie de niveau 1 ===*/
/*A MODIFIER APRES LES SOLDES REMETTRE BLOC MAGAZEEN*/
.magazeen_ctn::before { content: '';width: 1px;border-left: 1px solid #dee2e6;height: 100%;position: absolute; border: none !important;}
.magazeen_ctn::after { content: ''; width: calc(100% - 1em); height: 1px; border-bottom:1px solid #dee2e6; position: absolute; bottom: 0; border: none !important;}
/*A MODIFIER APRES LES SOLDES REMETTRE BLOC MAGAZEEN*/

/*===  CATEGORIE NIVEAU 1 ===*/
.cat_ambiance {height: 117px;}
.cat_ambiance_soldes{height: 137px;}
.height-cate {height:140px;}
.rollover_cat {width:40px; height:40px; display: flex;
justify-content: center;
align-items: center;
background-color: var(--primary);
position: absolute;
left: 0;
bottom: 0;
transition: all linear .1s;}
.categorie_bloc {cursor: pointer;}
.categorie_bloc:hover .rollover_cat {width: 100%; }
.rollover_cat p{position: absolute; opacity: 0;}
.categorie_bloc:hover .rollover_cat p {position: relative; opacity: 1; transition: opacity .1s; transition-delay: 0s; transition-delay: .2s;}
.rollover_cat:hover {width: 100%; }
/*A MODIFIER APRES LES SOLDES REMETTRE BLOC MAGAZEEN*/
.onglet {border-top-left-radius: 0.25rem !important; border-top-right-radius: 0.25rem !important; border:1px solid #dee2e6; border-bottom: 0;  margin-top: -2px; flex: 0 0 100%; display: none;}
/*A MODIFIER APRES LES SOLDES REMETTRE BLOC MAGAZEEN*/
.categorie_bloc  .img-cate{width: auto;max-width: 100px;max-height: 100px;height: auto;}
.cat_ambiance img{object-fit: cover; object-position: right; width: 100%; height: 117px;}
.cat_ambiance_soldes img{object-fit: cover; object-position: center; width: 100%; height: 137px;}
.cat_ambiance h1,
.cat_ambiance_soldes h1{top: 1.5rem; left: 0;}
.h1-soldes{font-size: 40px;}
/*.magazeen_ctn {border:1px solid #dee2e6; border-top: 0; border-right: 0; border-bottom-left-radius: 0.25rem; }*/
/*.img-cate {width: 100%; }*/
.img-guide {max-height: 100px; }

.stock.hors_stock {right:0.5rem; position:absolute; z-index: 1; background-color: var(--white); padding: 0 0.5rem;}
.scat_img img{width: 100%; }

.meilleur_bio_2k {width: 45px; height: 67px; background:url("https://www.greenweez.com/assets/static/store-1/french/images/mb_2019.png") no-repeat; background-size: contain; margin: 0 auto;}

.height-guide {height:275px;}
.guide p strong,
#guide_crossell strong {font-family: var(--font-family-sb); }
.guide p titre {font-family: var(--font-family-sb); font-size: var(--font-size-20); width: 100%; text-align: center; display:block; }

.lp_ctn {min-height: 230px; }

/*Page guides d'achats / listes en un clic */
.guide-liste-main-page .list-picture-bubble{width: 80px; height: 80px;}
.guide-liste-main-page .guide-picture-bubble{width: 130px; height: 130px; overflow: hidden;}
.guide-liste-main-page .guide-picture-bubble img{ left: 50%;top: 50%;height: 100%;width: auto;-webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%);}
.guide-liste-main-page .categorie_bloc .img-cate{max-width: 60px; max-height: 60px;}
.guide-liste-main-page .height-cate {height: auto}

.guide-liste-main-page .bg-oneclick-list,
.guide-liste-main-page .bg-oneclick-list:hover picture{background-color: var(--white); transition: .2s linear;}
.guide-liste-main-page .bg-oneclick-list picture,
.guide-liste-main-page .bg-oneclick-list:hover{background-color: var(--light-red); transition:  .2s linear;}

.guide-liste-main-page .oneclicklist_group .bg-oneclick-list,
.guide-liste-main-page .oneclicklist_group .bg-oneclick-list:hover picture{background-color: var(--light-red); transition: .2s linear;}
.guide-liste-main-page .oneclicklist_group .bg-oneclick-list picture,
.guide-liste-main-page .oneclicklist_group .bg-oneclick-list:hover{background-color: var(--white); transition:  .2s linear;}

.guide-liste-main-page .purchase-guide{background-color: var(--white); transition: .2s linear;}
.guide-liste-main-page .purchase-guide:hover{background-color: var(--light-brown); transition: .2s linear;}
.guide-liste-main-page .purchase-guide-large{background-color: var(--light-brown); transition: .2s linear;}
.guide-liste-main-page .purchase-guide-large:hover{background-color: var(--white); transition: .2s linear;}

.guide-liste-main-page .oneclicklist_group .categorie_bloc::after{content: '';border-bottom: 1px solid var(--white);width: 100%;height: 1px;display: block;margin-top: .5rem;}
.guide-liste-main-page .oneclicklist_group .collapse-btn{bottom: -16px;left:0; width: 100%; z-index: 10;}
.guide-liste-main-page .oneclicklist_group .collapse-btn button[aria-expanded="true"] .fa::before{content: "\f077"; transition: .2s linear;}
.guide-liste-main-page .oneclicklist_group .collapse-btn button[aria-expanded="false"] .fa::before{content:"\f078"; transition: .2s linear;}

.guide-liste-main-page .purchase-guide .clamp-paragraph{-webkit-line-clamp: 6;text-overflow: ellipsis;display: -webkit-box;overflow: hidden;-webkit-box-orient: vertical;max-height: 115px;}
.guide-liste-main-page .purchase-guide .clamp-paragraph p.font-family-sb.font-size-25,
.guide-liste-main-page .purchase-guide-large .clamp-paragraph  p.font-family-sb.font-size-25{display: none;}
.guide-liste-main-page .purchase-guide-large .clamp-paragraph{-webkit-line-clamp: 17;text-overflow: ellipsis;display: -webkit-box;overflow: hidden;-webkit-box-orient: vertical;max-height: 325px ;}

.aside-guide .nav_gauche .open + ul{background-color: var(--light-red);}
.aside-guide .nav_gauche span.fa.fa-minus{background-color: var(--light-red);}

.guide-liste-main-page .purchase-guide-large-container{grid-row-end: span 2;}
/*.guide-liste-main-page .list-large{grid-row-end: span 4;}*/
.guide-liste-main-page .special-grid{ display: grid; grid-template-columns: 1fr 1fr; grid-gap: 1.5rem;}
.guide-liste-main-page span.fa.fa-list{-webkit-animation: .5s ease 0s normal forwards 1 fadein; animation: .5s ease 0s normal forwards 1 fadein;}

.guide-liste-main-page .list-large picture{width: 70px; height: 70px; margin: 0.5rem !important;}
.guide-liste-main-page .list-large picture img{max-height: 50px !important; max-width: 50px !important;}

.guide-liste-main-page .cat_ambiance{height: 60px; }
.guide-liste-main-page .cat_ambiance h1{top: .5rem;}
.guide-liste-main-page .cat_ambiance img {object-fit: cover;object-position: right;width: 100%;height: 60px;}


/*===================*/
/*===  RESPONSIVE ===*/	
/*===================*/
@media (max-width: 1399px) {
#titre_nav_gauche .menu_word_break a,
#titre_nav_gauche a.magic_underline {font-size: var(--font-size-13);}
}

@media (max-width: 1200px) {
#listing_filtres_modal {top: 170px;height: calc(100vh - 170px);}
}

@media (max-width: 992px) {
/*===  FILTRES ===*/
#listing_filtres_modal .container{max-width: 100% !important; padding: 0;}
#listing_filtres_modal{top: 123px;}
#listing_filtres_modal.listing_filtres_modal_scroll,
.pl_nav_v.sticky-top{top: 60px; background-color: #fbfafdcf !important;}
#listing_filtres_modal .modal-dialog,
#listing_filtres_modal{height: calc(100vh - 60px);}
.scrollUp + .container-fluid #listing_filtres_modal .modal-dialog,
.scrollUp + .container-fluid #listing_filtres_modal{height: calc(100vh - 60px);}
.cat_ambiance h1,
.cat_ambiance_soldes h1{font-size: var(--font-size-25);}

.height-guide {height:auto;}
.onglet{border: none;}
#categories_niveau2 aside{margin-left: auto; margin-right: auto; border: 1px solid #dee2e6; border-radius: 0.25rem;}
#categories_niveau2 .row{margin-left: auto; margin-right: auto;}
#categories_niveau2 section.row .row.pt-4{margin-left: -15px; margin-right: -15px;}
.magazeen_ctn::before,
.magazeen_ctn::after{border: none;}

/*Page guides d'achats / listes en un clic */
.guide-liste-main-page .close-animated-menu{right: 0;}
.guide-liste-main-page #titre_nav_gauche list{background-color: var(--white); padding: 1.5rem; border-radius: 0.75rem; margin-top: 2rem !important;}
.guide-liste-main-page .animated-menu {position: fixed;bottom: 6rem;right: 2rem;z-index: 1050;width: 60px;height: 60px;background: none;border-radius: 100%;transition: .3s ease;}
.scrollUp ~ .container-fluid .animated-menu{bottom: 2rem;}
.guide-liste-main-page .animated-menu .toggle {position: relative;width: 60px;height: 60px;cursor: pointer; transition: transform .3s ease, -webkit-transform .3s ease;}
.guide-liste-main-page .aside-guide.active .animated-menu .toggle {position: absolute;bottom: 0;right: 0;box-shadow: none;-webkit-transform: scale(50);transform: scale(50);transition: -webkit-transform .3s ease;transition: transform .3s ease;transition: transform .3s ease, -webkit-transform .3s ease;}
.guide-liste-main-page .aside-guide.active .animated-menu {bottom: 0;right: 0;width: 100%;min-width: 100%;height: calc(100vh - 70px);border-radius: 1px;padding: 2rem;overflow: hidden;}
.guide-liste-main-page .card-content{left: 100px;opacity: 0;visibility: hidden;}
.guide-liste-main-page .aside-guide.active .card-content{left: 1.5rem;top: 1rem;width: calc(100% - 3rem);opacity: 1;visibility: visible;transition: .3s ease; transition-delay: .2s; position: absolute;}
.guide-liste-main-page .aside-guide.active .animated-menu .toggle span{display: none;}
.guide-liste-main-page .animated-menu.nav_gauche.sticky-top{top: unset;}
.guide-liste-main-page .purchase-guide .clamp-paragraph{max-height: 110px;}
.guide-liste-main-page .purchase-guide-large .clamp-paragraph{max-height: 320px;}

}


@media (max-width: 768px) {
/*=== les pictos de categorie de niveau 1 ===*/
.categorie_bloc  .img-cate{width: auto;max-width: 50px;max-height: 50px;height: auto;}
.height-cate {height:70px;}
.rollover_cat {width:50px; height:100%;}
.no-responsive-rollover{height: 50px !important;}
.padding-cate {padding-left: 50px; }
.cat_ambiance h1,
.cat_ambiance_soldes h1{font-size: var(--font-size-20); line-height: 1.8rem !important; top: 0.5rem; width: 50%;}
.pl_nav_v  .filter_by_button,
.pl_nav_v  #hide_all_selected,
.pl_nav_v  #sort_by{font-size: var(--font-size-12);}
.scat_img img{display: none }

.height-guide .rollover_cat {height:100%;}
/*Page guides d'achats / listes en un clic */
.guide-liste-main-page .special-grid{ display: grid; grid-template-columns: 2fr; grid-gap: 1.5rem;}
}

/*=== iPad ===*/
@media (max-width: 768px) and (min-width: 768px) {
.height-cate {height:90px;}
.rollover_cat {width:50px; height:90px;}
}

@media (max-width: 575px) {
.cat_ambiance img{object-position: -600px;}
.product_ctn{margin: 0 !important;}
#categories_niveau2 section.row .row.pt-4{margin-left: auto; margin-right: auto;}
.page_list #header_mag{display: none;}
.cat_ambiance_soldes h1 {display: none;}
/*Page guides d'achats / listes en un clic */
.guide-liste-main-page .purchase-guide-large{height: auto;}
}

@media (max-width: 414px) {
.cat_ambiance img{object-position: -700px;}
#selected_filters .btn-outline-primary{max-width: 120px;}
.height-cate{height: auto;}
}

@media (max-width: 375px) {
#page_list_content #sort_by{-webkit-line-clamp: 1;text-overflow: ellipsis;display: -webkit-box;overflow: hidden;-webkit-box-orient: vertical;max-width: 150px;}
}

@media (max-height: 450px) and (max-width: 850px){
/*landscade mobile listing*/
.landscape_mobile_listing .prod_list{width: 100% !important; max-width: 100% !important; flex: 1 1 100%; margin-top: 1rem !important; margin-bottom: 1rem !important;}
.landscape_mobile_listing .prod_list .labels_container{max-height: 100px;overflow: hidden;}
.landscape_mobile_listing .prod_list .rayon_img {height: auto;display: inline-block;width: 100%;}
.landscape_mobile_listing .prod_list .prod_img{width: 40% !important; float: left;}
.landscape_mobile_listing .prod_list img{max-width: 140px;}
.landscape_mobile_listing .prod_list .prix_tot {margin-left: 0 !important;}
.landscape_mobile_listing .prod_list .prix_barre{margin-right: 0 !important;}
.landscape_mobile_listing .prod_list .prix_barre span{margin-right: 0.5rem !important;}
.landscape_mobile_listing .prod_list .prix_barre span:empty {margin-right: 0 !important; }
.landscape_mobile_listing .prod_list .etoile,
.landscape_mobile_listing .prod_list .titre,
.landscape_mobile_listing .prod_list .encart_promo{width: 60% !important; float: left; text-align: left !important;}
.landscape_mobile_listing .prod_list .titre p,
.landscape_mobile_listing .prod_list .encart_promo .prix {text-align: left !important;}
}